 .containerfactura{
    margin: 70px;


 }
 
 #factura_component{  
  
  position: center;
   margin-top: 50px;
   margin-left: 150px; 
   border-radius: 8px;
   width: 600px;    
    background: whitesmoke;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.49); 
    

 }

 .factura{
  padding: 20px;
  justify-content: center;
 }
.infolocal{
  display: flex;
  flex-direction: column;
 align-items: center;
 
}
 


 .enviar{
    
   display: flex;
   justify-content: space-between;
   gap: 300px;
   
   
 }
  




#footer_fa{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  color: white;
  font-size: 8px;
   
}



